<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Clínica MediHub - Confirmación de Sugerencias</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <!-- Incluir el fragmento de confirmación de sugerencia -->
        <div th:replace="sugerencias/confirmacionSugerencia :: sugerencias"></div>

        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>