<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Presupuesto</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
    <div th:insert="layout :: header"></div>
    
    <main>
        <section class="content-section">
            <h1 class="text-center">Presupuestos</h1>
            <p class="text-center">Solicite su presupuesto para cualquiera de nuestros servicios médicos.</p>
        </section>
        <div th:insert="presupuesto/fragmentos :: formularioPresupuesto"></div>
    </main>

    <div th:insert="layout :: footer"></div>
</body>
</html>
