<div th:fragment="cirugiaGeneral">
    <br>
    <br>
    <h2 style="color: #086266;">Cirugía General</h2>
    <h5 style="color: #1aabb1;">El área de Cirugía General brinda atención quirúrgica y pre-quirúrgica en coordinación con diferentes servicios multidisciplinarios, dentro de los principales áreas quirúrgicas.</h5>
    
    <br>
    <p>• Área Quirúrgica: Es una unidad especializada en cirugías mayores.</p>
    <br>
    <p>• Área Quirúrgica Ambulatoria: Es una unidad especializada en procedimientos ambulatorios.</p>
    
    <br>
    <p>Además, contamos con la más avanzada tecnología asistida de laparoscopía y quirófanos equipados para realizar procedimientos de alta precisión.</p>

    <h5 style="color: #1aabb1;">Procedimientos de Cirugía General</h5>
    <ul>
        <li>Cirugía de tiroides.</li>
        <li>Cirugía endoscópica.</li>
        <li>Cirugía laparoscópica.</li>
        <li>Cirugía abdominal general.</li>
    </ul>

    <br>
    <br>
    <br>
    <a href="#" style="background-color: #1aabb1; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Solicitar Presupuesto</a>
    <br>
    <i class="fas fa-info-circle" style="color: #1aabb1; font-size: 24px; cursor: pointer;" title="Más información"></i>
</div>