<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"> 
    <head th:replace="layout/plantilla :: head"> 
        <title>Clínica MediHub - Página Principal</title>
    </head> 
    <body> 
        <header th:replace="layout/plantilla :: header" /> 
        <br></br>
        <h1>Clínica MediHub</h1>
        <br></br>
        <p>Cuidamos tu salud en</p>
        <p>tiempos difíciles.</p>
        <br></br>
        <p>Accede a los mejores servicios de salud.</p>
        <p>Estaremos contigo en el proceso</p>
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html> 