<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="contenidoMaternidad">
            <section class="content-section">
                <h2 class="text-center">Maternidad</h2>
                <p>La maternidad es un momento lleno de alegría y significado, y nos comprometemos a brindar una atención completa, eficaz y segura para las familias durante el embarazo, parto y postparto. Nuestro enfoque combina tecnología avanzada con un equipo altamente capacitado para garantizar un proceso exitoso.</p>
           
                <br></br>
                <h2 class="text-center">Nuestro Servicio</h2>
                <p>Ofrecemos un acompañamiento personalizado, en el cual respetamos las preferencias de la madre y su acompañante, de esta manera buscamos crear un ambiente cálido y seguro. Proporcionamos orientación y apoyo continuo en temas como la lactancia materna, cuidados del recién nacido y de la madre, tanto de manera presencial como telefónica.</p>
            </section>
        </div>
    </body>
</html>
